In [ ]:
# que:-1. What is List? How will you reverse a list?
# -> A list is a value that contains multiple values in an ordered sequence.
# we can reverse a list by using 'var.reverse()' method of list.

In [ ]:
#  que:-2. How will you remove last object from a list?
# -> we can remove last object from a list by using 'var.pop()' method of list.

In [ ]:
# que:-3. Suppose list1 is [2, 33, 222, 14, 25], what is list1 [-1]?
# -> List[-1] is 25

In [ ]:
# que:-4. Differentiate between append () and extend () methods?
# -> .append() adds a single element to the end of the list while .extend() can add multiple 
# individual elements to the end of the list

In [15]:
# que:-5. Write a Python function to get the largest number,smallest num and sum of all from a list.
def abc(x):
    x.sort()
    a = 'the largest num is',max(x)
    b = 'the smallest number is',min(x)
    c = 'sum of all number is',sum(x)
    return a,b,c
x=[1,2,3,45,78,96,99,12,1,6]

abc(x)

(('the largest num is', 99),
 ('the smallest number is', 1),
 ('sum of all number is', 343))

In [ ]:
# que:-6. How will you compare two lists?
# -> The == operator compares the two lists item by item.

In [20]:
# que:-7. Write a Python program to count the number of strings where the string length is 2 or more 
# and the first and last character are same from a given list of strings.
str1=input('enter the list in one line.\n')
st1=str1.split()
st2=[]
for i in st1:
    if len(i)>=2:
        if i[0]==i[-1]:
            st2+=[i]
if st2==[]:
    print()
else:
    print(st2)

enter the list in one line.
everyone's mom is best mom
['mom', 'mom']

In [21]:
# que:-8. Write a Python program to remove duplicates from a list.
str1=input('enter the list in one line.')
st1=str1.split()
st2=[]
t1=[]
t2=[]
for i in st1:
    if i.isalpha() and i not in st2:
        st2+=[i]
    elif i.isdecimal():
        st2+=[int(i)]
for h in st2:
    if h not in t1:
        t1+=[h]
print(t1)

enter the list in one line.1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10 11
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
# que:-9. Write a Python program to check a list is empty or not.
l1=input('enter the list in one line.\n')
l2=l1.split()
l3=[]
if l2==l3:
    print('True,list is empty.')
else:
    print('False,list is not empty.')
print(l2)

enter the list in one line.
1
False,list is not empty.
['1']

In [24]:
# que:-10. Write a Python function that takes two lists and returns true if they have at least one 
# common member.
list1=input('enter the first list in one line.\n')
list2=input('enter the second list in one line.\n')
sl1=list1.split()
sl2=list2.split()
s=set(sl1)
s1=set(sl2)
if s.intersection(s1):
    print(True)
else:
    print(False)

enter the first list in one line.
1 2 3 4 5 6
enter the second list in one line.
7 8 9 10 1
True

In [25]:
# que:-11. Write a Python program to generate and print a list of first and last 5 elements where 
# the values are square of numbers between 1 and 30.
str1=[1,2,3,4,5,26,27,28,29,30]
st=[]
for i in str1:
    for j in str1:
        if j==i:
            st+=[j*i]
print(st)

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [26]:
# que:-12. Write a Python function that takes a list and returns a new list with unique elements of 
# the first list.
str1=input('enter the list in one line.')
st1=str1.split()
st2=[]
t1=[]
t2=[]
for i in st1:
    if i.isalpha() and i not in st2:
        st2+=[i]
    elif i.isdecimal():
        st2+=[int(i)]
for h in st2:
    if h not in t1:
        t1+=[h]
print('unique elements of the list.',t1)

enter the list in one line.1 2 3 4 5 6 1 2
unique elements of the list. [1, 2, 3, 4, 5, 6]

In [27]:
# que:-13. Write a Python program to convert a list of characters into a string.
st1=input('enter the list of characters.\n')
st2=st1.split()
st3=''
for i in st2:
    st3+=str(i)
print('your list:-',st2)
print('answer:-',st3)

enter the list of characters.
1 2 3 4 5 6 umang patel
your list:- ['1', '2', '3', '4', '5', '6', 'umang', 'patel']
answer:- 123456umangpatel

In [32]:
# que:-14. Write a Python program to select an item randomly from a list.
st1=input('enter the list of elemnets in one line.\n')
st2=st1.split()
st3=set(st2)
st4=st3.pop()
print('list:-',st2)
print('answer:-',st4)

enter the list of elemnets in one line.
1 4 2 5 3 6
list:- ['1', '4', '2', '5', '3', '6']
answer:- 2

In [33]:
# que:-15. Write a Python program to find the second smallest number in a list.
st=input('enter the list of number in one line.\n')
st1=st.split()
st2=[]
s=0
for i in st1:
    st2+=[int(i)]
st3=st2[1:]
s=st2[0]
for h in st3:
    if h<s:
        s=h
st2.remove(s)
h1=st2[1:]
s1=st2[0]
for h1 in st2:
    if h1<s1:
        s1=h1
print('the smallest number:=',s)
print('the second smallest number:=',s1)

enter the list of number in one line.
1 2 3 4 5 6 7 8 9
the smallest number:= 1
the second smallest number:= 2

In [34]:
# que:-16. Write a Python program to get unique values from a list.
str1=input('enter the list in one line.')
st1=str1.split()
st2=[]
t1=[]
t2=[]
for i in st1:
    if i.isalpha() and i not in st2:
        st2+=[i] 
    elif i.isdecimal():
        st2+=[int(i)]
for h in st2:
    if h not in t1:
        t1+=[h]
print('unique vqlues:-',t1)

enter the list in one line.1 2 3 4 5 6 1 2 3 7 8 9 4 5 10
unique vqlues:- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# que:-17. Write a Python program to check whether a list contains a sub list.
str1=[12,'abc',1.2,True,[12,3.5,88],'xyz',[12,15,False]]
s=[]
for i in str1:
    if type(i)==list:
        s+=[i]
if s==[]:
    print(False)
else:
    print(True)

True

In [44]:
# que:-18. Write a Python program to split a list into different variables.
str1=[1,True,2.5,'abc',15,'xyz']
str2=tuple(str1)
var1,var2,var3,var4,var5,var6=str2
print(var3)

2.5

In [45]:
# que:-19. What is tuple? Difference between list and tuple.
# -> Tuples are used to store multiple items in a single variable.
# The primary difference between tuples and lists is that tuples are immutable as opposed 
# to lists which are mutable.

In [46]:
# que:-20. Write a Python program to create a tuple with different data types.
str1=[12,'abc',1.2,True,{15,85,'xyz'},[12,3.5,88],'xyz',(12,15,False),{12:4,'abc':12,1.5:0},14]
st1=tuple(str1)
print(st1)

(12, 'abc', 1.2, True, {'xyz', 85, 15}, [12, 3.5, 88], 'xyz', (12, 15, False), {12: 4, 'abc': 12, 1.5: 0}, 14)

In [47]:
# que:- 21. Write a Python program to create a tuple with numbers.
tp1=[]
st=input('enter the list in one line.')
tp=st.split()
for i in tp:
    tp1+=[int(i)]
tp2=tuple(tp1)
print(tp2)

enter the list in one line.1 2 3 45 6 7 8 9
(1, 2, 3, 45, 6, 7, 8, 9)

In [49]:
# que:- 22. Write a Python program to convert a tuple to a string.
str1=(12,'hi',2.5,'abc',100,'xyz')
st3=''
for i in str1:
    st3+=str(i)
print(st3)

12hi2.5abc100xyz

In [50]:
# que:- 23. Write a Python program to check whether an element exists within a tuple.
str1=('hi',12,1.555,False,[12,45,88,'abc'],{15,15.2,16},'xyz')
str2=False
if str2 in str1:
    print(True)
else:
    print(False)

True

In [51]:
# que:- 24. Write a Python program to find the length of a tuple.
str1=('hi',12,1.555,False,[12,45,88,'raj'],{15,15.2,16},'jay')
st=len(str1)
print(st)

7

In [54]:
# que:- 25. Write a Python program to convert a list to a tuple.
str1=['hi',True,'ramesh',[12,'suresh'],444,('a','b'),{15.5,10.5},'goli']
str2=tuple(str1)
print(str2)

('hi', True, 'ramesh', [12, 'suresh'], 444, ('a', 'b'), {10.5, 15.5}, 'goli')

In [55]:
# que:- 26. Write a Python program to reverse a tuple.
str1=('hi',True,'tapu',[12,'sonu'],444,('a','b'),{15.5,10.5},'goli')
str2=list(str1)
str2.reverse()
str1=tuple(str2)
print(str1)

('goli', {10.5, 15.5}, ('a', 'b'), 444, [12, 'sonu'], 'tapu', True, 'hi')

In [56]:
# que:- 27. Write a Python program to replace last value of tuples in a list.
str1=[('hi',True,'abc'),(2.5,[12,'xyz'],444),('a','b'),(15,False)]
l1=[]
l2=[]
k1=input('enter the input.\n')
for i in str1:
    l1+=[list(i)]
for i1 in l1:
    i1.remove(i1[-1])
    i1.append(k1)
l3=list(map(tuple,l1))
print(l3)

enter the input.
1 2 3
[('hi', True, '1 2 3'), (2.5, [12, 'xyz'], '1 2 3'), ('a', '1 2 3'), (15, '1 2 3')]

In [57]:
# que:- 28. Write a Python program to find the repeated items of a tuple.
str1=(12,45,'abc',45,'abc','xyz','xyz',5,20,45)
str2=list(str1)
str3=[]
str4=[]
str5=[]
for i in str2:
    if i not in str3:
        str3+=[i]
    else:
        str4+=[i]
for h in str4:
    if h not in str5:
        str5+=[h]
print('your repeated item of tuple:-',str5)

your repeated item of tuple:- [45, 'abc', 'xyz']

In [1]:
# que:-29. Write a Python program to remove an empty tuple(s) from a list of tuples.
tp=((1,2,45,55,),{},['abc','xyz'],(),[],2,78,8.2,(),'xyz',{1,5,6})
tp1=()
tp2=[]
tp3=[]
for i in tp:
    if i==tp1:
        tp2+=[i]
    else:
        tp3+=[i]
tp4=tuple(tp3)
print(tp4)

((1, 2, 45, 55), {}, ['abc', 'xyz'], [], 2, 78, 8.2, 'xyz', {1, 5, 6})

In [4]:
# que:-30. Write a Python program to unzip a list of tuples into individual lists.
tp=[(1,2),(45,55),('abc','xyz'),(2,2),(78,8.2),('xyz',{1,5,6}),(1,2,3,),(45,'LAL',45)]
tp1=list(map(list,tp))
p=len(tp1)
p1=65
p2=p1+p
a1=[]
for i in range(p1,p2):
    a1+=[(chr(i))]
a2=list(zip(a1,tp1))
a3=dict(a2)
print(a1)
a4=input('enter the variable name, from given list of variable.:-')
a5=a3.get(a4)
print('the value of',a4,'is-',a5)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
enter the variable name, from given list of variable.:-E
the value of E is- [78, 8.2]

In [6]:
# que:-31. Write a Python program to convert a list of tuples into a dictionary.
dc1=[(1,2),(45,55,),('abc','xyz'),(2,2),(78,8.2),('xyz',{1,5,6})]
dc2=dict(dc1)
print(dc2)

{1: 2, 45: 55, 'abc': 'xyz', 2: 2, 78: 8.2, 'xyz': {1, 5, 6}}

In [7]:
# que:-32. How will you create a dictionary using tuples in python?
# -> we can use the list of tuples in which every tuple contains key-value pair, and simply just 
# typecast that list to dictionary.

In [10]:
# que:-33. Write a Python script to sort (ascending and descending) a dictionary by value.
l1={45:15,77:5,89:66}
v=list(l1.items())
v.sort(key=lambda a: a[-1] )
v1=dict(v)
print('ascending order:-',v1)
v2=v.copy()
v2.sort(key=lambda a: a[-1],reverse=True )
v3=dict(v2)
print('descending order:-',v3)

ascending order:- {77: 5, 45: 15, 89: 66}
descending order:- {89: 66, 45: 15, 77: 5}

In [11]:
# que:-34. Write a Python script to concatenate following dictionaries to create a new one.
dc1={'a':1,'b':2,'c':3}
dc2={'d':4,'e':5,'f':6}
dc3={'g':7,'h':8,'i':9}
l=[dc1,dc2,dc3]
dc={}
for i in l:
    dc.update(i)
print(dc)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}

In [13]:
# que:-35. Write a Python script to check if a given key already exists in a dictionary.
dc={'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9,'g': 127}
key=input('enter the key.\n')
if key in dc:
    print('True')
else:
    print('False')

enter the key.
k
False

In [14]:
# que:-36. How Do You Traverse Through A Dictionary Object In Python?
# -> traversing Through .items() or .keys() or .values() in a dictionary object.

In [ ]:
# que:-37. How Do You Check The Presence Of A Key In A Dictionary?
# -> we can check the presence of a key in a dictionary by using 'in' membership operator.

In [16]:
# que:-38. Write a Python script to print a dictionary where the keys are numbers between 1 and 15.
dic={44:56,2:12,3:19,4:20,40:30,15:22,10:30}
d={}
for i in dic:
    if i in range(1,16):
        d1=dic.get(i)
        d.update([(i,d1)])
print(d)

{2: 12, 3: 19, 4: 20, 15: 22, 10: 30}

In [18]:
# que:-39. Write a Python program to check multiple keys exists in a dictionary
dict1={'xyz':45}
dict2={44:56,2:12,3:19,4:20}
dict3={4.5:16,77:62,52:12}
d=[dict1,dict2,dict3]
for  i in d:
    if len(i)>1:
        print('there is multiple keys in',i)

there is multiple keys in {44: 56, 2: 12, 3: 19, 4: 20}
there is multiple keys in {4.5: 16, 77: 62, 52: 12}

In [19]:
# que:-40. Write a Python script to merge two Python dictionaries.
dict1={44:56,2:12,3:19,4:20}
dict2={4.5:16,77:62,52:12}
dict1.update(dict2)
print(dict1)

{44: 56, 2: 12, 3: 19, 4: 20, 4.5: 16, 77: 62, 52: 12}

In [20]:
# que:-41. Write a Python program to map two lists into a dictionary.
l1=['a','b','c','d','e','f','g']
l2=[1, 2, 4, 5, 6, 3, 7]
d1=dict(zip(l1,l2))
print(d1)

{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 6, 'f': 3, 'g': 7}

In [21]:
# que:-42. Write a Python program to combine two dictionary adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300,'d':150,'e':200}
d2 = {'a': 300, 'b': 200,'d':400}
d3={}
for i in d1:
    for h in d2:
        if i==h:
            b1=d1.get(i)
            b2=d2.get(h)
            b=b1+b2
            d1.update([(i,b)])
for h in d2:
    if h not in d3:
        c=d2.get(h)
        d1.setdefault(h,c)
print(d1)

{'a': 400, 'b': 400, 'c': 300, 'd': 550, 'e': 200}

In [22]:
# que:-43. Write a Python program to print all unique values in a dictionary.
dic1={'a':15,'b':56,'c':16,'d':49,'e':56,'f':77}
l1=list(dic1.values())
l2=[]
for i in l1:
    if i not in l2:
        l2+=[i]
print(l2)

[15, 56, 16, 49, 77]

In [23]:
# que:-44. Why Do You Use the Zip () Method in Python?
# -> When you use the zip() function in Python, it takes two or more data sets and "zips" them 
# together. This returns an object containing pairs of items derived from the data sets.

In [24]:
# que:-45. Write a Python program to create and display all combinations of letters,selecting each 
# letter from a different key in a dictionary. Sample data: {'1': ['a','b'], '2': ['c','d']}
l1={'1': ['a','b'], '2': ['c','d']}
l2=list(l1.values())
for i in l2[0]:
    for h in l2[1]:
        print(i,h,sep='')

ac
ad
bc
bd

In [25]:
# que:-46. Write a Python program to find the highest 3 values in a dictionary.
x={1:78,'l':48,'g':12,4:15,2:8}
s=list(x.values())
s1=s.sort(reverse=True)
print(s[0:3])

[78, 48, 15]

In [26]:
# que:-47. Write a Python program to combine values in python list of dictionaries.
# Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':300},
# {'item': 'item1', 'amount': 750}]
n=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':300},{'item': 'item1', 'amount': 750}]
h=[]
h1=[]
h2=[]
d1={}
d2={}
for i in n:
    h+=[tuple(i.values())]
for i1 in h:
    if i1[0] not in h1[0:2]:
        h1+=i1
    if i1[0] in h1[0:2]:
        h2=i1
    d1.setdefault(i1[0],i1[1])
d2.setdefault(h2[0],h2[1])
for j in d1:
    for j1 in d2:
        if j==j1:
            a=d1.get(j)
            a1=d2.get(j1)
            a2=a+a1
            d1.update([(j,a2)])
print(d1)

{'item1': 1150, 'item2': 300}

In [28]:
# que:-48. Write a Python program to create a dictionary from a string.
# Note: Track the count of the letters from the string. Sample string:'w3resource'
# Expected output: {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}
str1='w3resource'
st1=[]
st2=[]
for i in str1:
    if i not in st1:
        st1+=[i]
for h in st1:
    q=str1.count(h)
    st2+=[(h,q)]
st3=dict(st2)
print(st3)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [31]:
# que:-49. Write a Python function to calculate the factorial of a number (a nonnegative integer).
def fact(num):
    if num==1:
        return num
    else:
        return num * fact(num-1)
b=fact(int(input('enter any number:-')))
print('answer:-',b)

enter any number:-5
answer:- 120

In [35]:
# que:-50. Write a Python function to check whether a number is in a given range.
def r1(a):
    if a in range(1,11):
        print(a,'is in range.')
        return True
    else:
        print(a,'is not in range.')
        return False
a1=r1(int(input('enter any number between 1 to 10.\n')))
print(a1)

enter any number between 1 to 10.
5
5 is in range.
True

In [48]:
# que:-51. Write a Python function to check whether a number is perfect or not.
def p1(num):
    n1=0
    for i in range(num+1):
        n1=n1+i
        if i<n1 and n1==num:
            print(num,'is perfect number,',i,'is the number when sum of',i,'equals',num,'.')
            return True 
        elif i==num: 
            print(num,'is not perfect number.')
            return False
a1=p1(int(input('enter any number.')))
print(a1)

enter any number.3
3 is perfect number, 2 is the number when sum of 2 equals 3 .
True

In [53]:
# que:-52. Write a Python function that checks whether a passed string is palindrome or not.
def st(a):
    a1=a[::-1]
    if a==a1:
        print(a,'is palindrome.')
        return True
    else:
        print(a,'is not palindrome.')
        return False
a2=st(input('enter the string.\n'))
print(a2)

enter the string.
patelletap
patelletap is palindrome.
True

In [54]:
# que:-53. How do you perform pattern matching in Python? Explain.
# -> we can match the pattern in python by using 'for' and 'while' loop and 'recurrence.'

In [55]:
# que:-54. What is lambda function in python? What we call a function which is incomplete 
# version of a function?
# -> Lambda Function, also referred to as 'Anonymous function' is same as a regular python function 
#    but can be defined without a name. While normal functions are defined using the def keyword, 
#    anonymous functions are defined using the lambda keyword.

In [56]:
# que:-55. How Many Basic Types Of Functions Are Available In Python?
# Function Types
# 1. User Defined
# 2. Built In (already defined)
# 3. Anonymous function / lambda function

In [ ]:

# que:-56. How can you pick a random item from a list or tuple?
# -> we can typecast a list or tuple in to a set, then by using .pop() method, can pick a random item.

In [57]:
# que:-57. How can you pick a random item from a range?
# -> we can typecast a range into a set and then, by using .pop() method, can pick a random item.

In [58]:
# que:-58. How can you get a random number in python?
# -> To generate random number in Python, randint() function is used. 
# This function is defined in random module.

In [59]:
# que:-59. How will you set the starting value in generating random numbers?
# -> The seed() method is used to initialize the random number generator. The random number 
# generator needs a number to start with (a seed value), to be able to generate a random number.

In [60]:
# que:-60. How will you randomizes the items of a list in place?
# -> The shuffle() method randomizes the items of a list in place

In [66]:
# que:-61. Write a Python program to read a random line from a file.
# import random
def random_line(fname):
    lines = open(fname).read().splitlines()
    return random.choice(lines)
print(random_line('test.txt'))

In [71]:
# que:-62. Write a Python program to convert degree to radian.
def dr(degree):
    r=180/3.142*degree
    return print('answer:-',r)
s=dr(int(input('enter the degree.\n')))

enter the degree.
60
answer:- 3437.301082113304

In [72]:
# que:-63. Write a Python program to calculate the area of a trapezoid.
def at(a,b,h):
    a1=(a+b)/2*h
    return print('the area of a trapezoid.:-',int(a1))
a4=at(int(input('enter the base.')),int(input('enter the base.')),int(input('enter the height.')))

enter the base.10
enter the base.15
enter the height.20
the area of a trapezoid.:- 250

In [73]:
# que:-64. Write a Python program to calculate the area of a parallelogram.
def a1(b,h):
    a=b*h
    return print('the area of a parallelogram.',a)
d=a1(int(input('enter the base.\n')),int(input('enter the height.\n')))

enter the base.
10
enter the height.
20
the area of a parallelogram. 200

In [74]:
# que:-65. Write a Python program to calculate surface volume and area of a cylinder.
h=int(input('enter the height.\n'))
r=int(input('enter the radius of the cylinder.\n'))
pi=3.142
v=pi*r*r*h
a=2*pi*r*h
print('surface volume:-',v)
print('surface of area:-',a)

enter the height.
17
enter the radius of the cylinder.
10
surface volume:- 5341.4
surface of area:- 1068.28

In [78]:
# que:-66. Write a Python program to returns sum of all divisors of a number.
def g1(a):
    d1=[]
    d2=0
    for i in range(1,a):
        if a%i==0:
            d1+=[i]
            d2+=i
    return  print('list of divisors:-',d1,'\nsum of all divisior:-',d2)
s=g1(int(input('enter any number.')))

enter any number.10
list of divisors:- [1, 2, 5]
sum of all divisior:- 8

In [79]:
# que:-67. Write a Python program to find the maximum and minimum numbers from the specified decimal 
# numbers.
def f2(a):
    b=a.split()
    b1=list(map(int,b))
    m=max(b1)
    n=min(b1)
    print('maximum numbers',m)
    print('minimum numbers',n)

d=f2(input('enter the list of number.'))

enter the list of number.1 2 3 4 5 66 77 88 4 5 66 22 11
maximum numbers 88
minimum numbers 1